#score{
    margin-left: 20px;
    font-size: 25px;
}

#timer{
    margin-left: 20px;
    font-size: 25px;
    float: left;
}

#sketch_to_be_drawn{
    margin-left: 20px;
    font-size: 25px;
    color: rgb(236, 85, 85);
}

body {
    background-size: cover;
}
